<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Cutter</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link href="/css/loginstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="cont">
        <div class="header">
            <p>
                <img src="/img/logo1.png" alt="">
                <span>URL CUTTER</span>
                <img src="/img/logo2.png" alt="">
            </p>
        </div>
        <div class="form-cont">
            <form action="/login" method="post">
                <p class="login-head">LOG IN</p>
                <div class="login-cont">
                    <div class="user-inp">
                        <input type="email" required placeholder="Email" name="username" id="username">
                        <% if(errorMessage == 'mm') { %>
                            
                        <% } else {%>
                            
                            <% if(errorMessage.er == 'uname') { %>
                                <div class="error">Invalid Username</div>
                            <% } else {%>
                                <div class="error">Invalid Password</div>
                            <% } %>

                        <% } %>
                    </div>
                    <div class="pass-inp">
                        <input type="password" required placeholder="Password" name="password" id="password">
                    </div>
                    <button type="submit">Log In</button>
                </div>
                <div class="und-or">
                    <div class="und"></div>
                    <div class="or">or</div>
                    <div class="und"></div>
                </div>
                <div class="signup-cont">
                    <a href="/register" role="button">Sign Up</a>
                </div>
            </form>
        </div>
    </div>

    <script>

        document.querySelector('.signup-cont').addEventListener('click',function(){
            window.location='/register'
        })

    </script>

</body>
</html>